## a)Function
#### X()--->input->output
## b)Datatypes
### 1) Integer
### 2)Decimal/Float
### 3)Boolean(True/False)
### 4)Text/String
### 5)Complex
### 6)List
### 7)Tuple
### 8)Set
### 9)Dictionary(key-value pairs)
## c) Variables
#### Mutable datatypes
#### list, set, dictionary
#### Immutable datatypes
#### Numbers(Integer, float, complex), string, tuple
## d) Loops
### if-else
### if-elif-else
### while
### for loop

In [1]:
# Dictionary
book={"a":"used in start of any word","b":"xyz"}
print(book)

{'a': 'used in start of any word', 'b': 'xyz'}

In [2]:
print(book["b"])

xyz

In [3]:
print(book.keys())

dict_keys(['a', 'b'])

In [4]:
print(book.values())

dict_values(['used in start of any word', 'xyz'])

In [5]:
print(book.values())

dict_values(['used in start of any word', 'xyz'])

In [6]:
# Tuples

In [7]:
t=(1,2,3)

In [8]:
t

(1, 2, 3)

In [9]:
t[0]

1

In [10]:
t[0]='a'

TypeError: 'tuple' object does not support item assignment

In [11]:
# Set

In [12]:
{1,2,3}

{1, 2, 3}

In [13]:
{1,1,1,3,4}

{1, 3, 4}

In [14]:
# Logical operators

In [15]:
# Operator: and--> Returns true if both statements are true
#           or:--> Returns true if one of the statements is true
#           not:--> reverse the result, returns false if the result is true

In [16]:
(1>2) and (2<3)

False

In [17]:
(1>2) or (2<3)

True

In [18]:
(1==2) or (2==3) or (4==4)

True

In [19]:
# if,elif,else statement

In [20]:
if 1<2:
    print('yep!')

yep!

In [21]:
if 1>2:
    print('yep!')

In [22]:
if 1<2:
    print('first')
else:
    print('last')

first

In [23]:
if 1>2:
    print('first')
else:
    print('last')

last

In [24]:
if 1==2:
    print('first')
elif 3==3:
    print('middle')
else:
    print('last')

middle

In [25]:
# for loops

In [26]:
seq=[1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [27]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

In [28]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [29]:
# while loop

In [30]:
bucket=[1,2,3,4,5,6]
i=0
while i<len(bucket):
    print(bucket[i])
    i=i+1

1
2
3
4
5
6

In [31]:
for i in bucket:
    print(i)

1
2
3
4
5
6

In [32]:
# len function

In [33]:
len([1,2,3,4,5,6])

6

In [34]:
len((1,2,3,4,5,6))

6

In [35]:
i=(1,2,3,4,5,6)
print(i)

(1, 2, 3, 4, 5, 6)

In [36]:
len({1,2,3,4,5,6})

6

In [37]:
len({'a':1,'b':2})

2

In [38]:
# range function

In [39]:
range(1,10)

range(1, 10)

In [40]:
len(range(1,10))

9

In [41]:
# split function

In [42]:
my_name='Ketan'
algo_skills='1,2,3,4,5'
for num in algo_skills.split(','):
    print(my_name,num)

Ketan 1
Ketan 2
Ketan 3
Ketan 4
Ketan 5

In [43]:
string="one,two,three"
words=string.split(",")
print(words)

['one', 'two', 'three']

In [44]:
text='geeks for geeks'
print(text.split()) # splits at space

['geeks', 'for', 'geeks']

In [45]:
word='geeks,for,geeks'
print(word.split(',')) # splits at ','

['geeks', 'for', 'geeks']

In [46]:
word='geeks:for:geeks'
print(word.split(':')) # splits at ':'

['geeks', 'for', 'geeks']

In [47]:
word='catbatsatfator'
print(word.split('t')) # splits at 't'

['ca', 'ba', 'sa', 'fa', 'or']

In [48]:
word='geeks,for,geeks,pawan'
print(word.split(',',0)) # here maxsplit=0

['geeks,for,geeks,pawan']

In [49]:
word='geeks,for,geeks,pawan'
print(word.split(',',1)) # here maxsplit=1

['geeks', 'for,geeks,pawan']

In [50]:
word='geeks,for,geeks,pawan'
print(word.split(',',2)) # here maxsplit=2

['geeks', 'for', 'geeks,pawan']

In [51]:
word='geeks,for,geeks,pawan'
print(word.split(',',3)) # here maxsplit=3

['geeks', 'for', 'geeks', 'pawan']

In [52]:
word='geeks,for,geeks,pawan'
print(word.split(',',4)) # here maxsplit=4

['geeks', 'for', 'geeks', 'pawan']

In [53]:
word='geeks,for,geeks,pawan'
print(word.split(',',5)) # here maxsplit=5

['geeks', 'for', 'geeks', 'pawan']

In [54]:
# functions
# def function_name():
#                  code

In [55]:
def ml_code():
    x=1

In [56]:
def ml_code(name,skills):
    for i in name:
        for j in skills:
                print(f"{i} knows {j}")
ml_code(['ketan','rahul'],['c++','python','java'])

ketan knows c++
ketan knows python
ketan knows java
rahul knows c++
rahul knows python
rahul knows java

## .format() function
The .format() function in python is used to insert values into a string in a clean and flexible way. It's a string formatting method

In [57]:
print("ketan {} water".format("needs"))

ketan needs water

In [58]:
print("ketan {} {} water".format("needs","water"))

ketan needs water water

In [3]:
print("ketan {1} {0} water".format("water","needs"))

ketan needs water water

In [59]:
print("ketan plays {} and {}".format("cricket","football"))

ketan plays cricket and football

In [5]:
age = 24
city = "Bangalore"

info = "I am {} years old and I live in {}.".format(age, city)
print(info)

I am 24 years old and I live in Bangalore.

### Note: .format() method is not for writting fixed text. 
### It is for writting dynamic text.

In [10]:
name = input("Enter your name:")
print("Hello, {}!".format(name))

Enter your name: Soumyajyoti

Hello, Soumyajyoti!

In [12]:
for i in range(5):
    print("Iteration number: {}".format(i))

Iteration number: 0
Iteration number: 1
Iteration number: 2
Iteration number: 3
Iteration number: 4

## f-literals
Introduced in Python 3.6 â€” we put variables directly inside the string using {}:

In [61]:
x=["needs","wants"]
for i in x:
    print(f"ketan {i} water")

ketan needs water
ketan wants water

In [62]:
x=1
y=2
print(f"{x}x{y}:{x*y}")

1x2:2

In [17]:
num=int(input("Enter a number:"))
for i in range(1,11):
    print(f"{i}x{num}={i*num}")

Enter a number: 4

1x4=4
2x4=8
3x4=12
4x4=16
5x4=20
6x4=24
7x4=28
8x4=32
9x4=36
10x4=40

.format() is older, still useful, especially for complex formatting or old Python versions.

f-strings are modern, faster, cleaner, and preferred for almost all everyday string formatting.

In [68]:
# giving inputs

In [69]:
x=input("Enter x:")
y=int(input("Enter number y:"))
z=float(input("Enter number z:"))
print(x,y,z)

2 3 7.0

In [70]:
# Lambda expressions

In [71]:
def time2(var):
    return var*2
time2(5)

10

## lambda parameters: expression
A lambda expression in Python is a way to create small, anonymous (no name) functions in a single line.

In [73]:
x= lambda var: var*2
x(2)

4

In [74]:
square=lambda x:x*x
square(7)

49

In [75]:
multplication=lambda x,y,z: x*y*z
multplication(2,4,7)

56

## map operator
syntax: map(function, iterable)

In [25]:
seq=[1,2,3,4,5,6]
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10, 12]

In [78]:
seq=[1,2,3,4,5,6]
def times2(seq):
    times2_values=[]
    for num in seq:
        times2_values.append(num*2)
    return times2_values
times2(seq)

[2, 4, 6, 8, 10, 12]

In [79]:
# map(function, iterable) --> syntax of map
# map() applies the given function to each element of the iterable (seq here).
# So lambda var: var * 2 runs on each number in seq.

In [3]:
# Transform a list of strings so that each character in each string becomes an individual list item using map function.

L=["apple","banana"]
list(map(list,L))

[['a', 'p', 'p', 'l', 'e'], ['b', 'a', 'n', 'a', 'n', 'a']]

In [5]:
L1="apple"
list(L1)

['a', 'p', 'p', 'l', 'e']

In [11]:
# Add three lists, element-wise, using map function with a lambda function

L1=[1,2,3]
L2=[4,5,6]
L3=[7,8,9]
list(map(lambda x,y,z:x+y+z, L1,L2,L3))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
L1+L2+L3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Inserting an item
 append(): adds an element at the end of the list

 
 clear(): removes all the elements from the list
 
 insert(): adds an element at the specified position

In [19]:
seq=[2,4,6,8,10,12,14]
seq.append(16)
seq

[2, 4, 6, 8, 10, 12, 14, 16]

In [21]:
seq.insert(1,3)
seq
# list_name.insert(index, element)

[2, 3, 4, 6, 8, 10, 12, 14, 16]

In [23]:
seq.clear()
seq

[]

In [84]:
# Operator: An operator is a symbol that performs a certain operation between operands.
# Types of operators:
# Arithmatic operators
# Relational operators
# Assignment operators
# Logical operators

In [85]:
# Logical operators:

In [86]:
# 'not'
not True

False

In [87]:
not False

True

In [88]:
# 'and'
# if both are true--> true
# otherwise false

In [89]:
(1<2) and (9>2)

True

In [90]:
# or
# if either one or both are true then true otherwise false
# true or true--> true
# true or false--> true
# false or false--> false

In [91]:
# Write a program to input 2 numbers & print their sum

In [92]:
a=int(input("enter first no: "))
b=int(input("enter second no:"))
print("sum=",a+b)

sum= 6

In [93]:
# Write a program to input side of a square and print it's area

In [94]:
side=float(input("enter side of the square: "))
print("The required area= ",side**2)

The required area=  49.0

In [95]:
# write a program to input 2 floating point numbers & print their average

In [96]:
a=float(input("enter first no:"))
b=float(input("enter second no: "))
print("average=",(a+b)/2.0)

average= 8.0

In [97]:
# Wap to input 2 int numbers a and b
# print true if a is greater than or equal to b. otherwise false

In [98]:
a=int(input("first no: "))
b=int(input("second no: "))
a>=b

True

## Strings

In [25]:
str1="This is a string."
strr2='Apna college'
str3="""This is also a string."""

In [100]:
# string functions

In [101]:
str= "I am a coder"

In [102]:
str.endswith('er') # returns true if string ends with that substring

True

In [103]:
str.capitalize() # capitalize first char

'I am a coder'

In [104]:
str.replace('coder','engineer')

'I am a engineer'

In [105]:
str.find('coder') # returns 1st index of 1st occurence of that word

7

In [106]:
str.find('r')

11

In [107]:
str.find('coder')

7

In [108]:
str.find('c')

7

In [109]:
str.find('q') # '-1' denotes char does not belong to that str

-1

In [110]:
str.count('I') # counts the occurrence of that subsstring

1

In [111]:
str='I am from studying python from Apnacollege'
str.count('from')

2

In [112]:
str.count('o')

4

In [113]:
# Wap to input user's first name & print it's length

In [114]:
name=input('Enter name: ')
print(len(name))

11

In [115]:
# Wap to find the occurence of '$' in a string

In [116]:
str="Hi, $ I am the $ symbol $99.99"
print(str.count("$"))

3

In [117]:
# conditional statements

In [118]:
# Wap to check whether one is eligible to drive, provided legal age for driving is 18-80

In [119]:
age=float(input("enter age: "))
if(age>=18):
    if(age>=80):
        print("can not drive")
    else:
        print("can drive")
else:
    print("can not drive")

can drive

In [120]:
# Wap to find the greatest of 3 numbers entered by the user.

In [121]:
a= int(input("enter first number: "))
b= int(input("enter second number: "))
c= int(input("enter third number: "))

if(a>=b and a>=c):
    print('first number is largest',a)
elif(b>=c):
    print('second number is largest',b)
else:
    print('third number is largest',c)

third number is largest 9

In [122]:
# Wap to find the greatest of 4 numbers entered by the user.

In [123]:
a= int(input("enter first number: "))
b= int(input("enter first number: "))
c= int(input("enter first number: "))
d=int(input("enter fourth number: "))
if(a>=b and a>=c and a>=d):
    print(a)
elif(b>=c and b>=d):
    print(b)
elif(c>=d):
    print(c)
else:
    print(d)

8

In [124]:
#List

In [125]:
# A built-in data type that stores set of values.
# It can store elements of different types(integer, float, string etc.)
# list--> mutable

In [126]:
student=['ketan',95.4,17,'Delhi']
student[0]

'ketan'

In [127]:
student[0]='arjun'
print(student)

['arjun', 95.4, 17, 'Delhi']

In [128]:
marks=[87,64,33,95,76]
marks[0:4]

[87, 64, 33, 95]

In [129]:
marks[0:5]

[87, 64, 33, 95, 76]

In [130]:
marks[0:]

[87, 64, 33, 95, 76]

In [131]:
marks[:]

[87, 64, 33, 95, 76]

In [132]:
marks[:5]

[87, 64, 33, 95, 76]

In [133]:
marks[0:len(marks)]

[87, 64, 33, 95, 76]

In [134]:
marks[-3:-1]

[33, 95]

In [322]:
# list methods

In [323]:
l=[2,1,3]

In [324]:
l.append(4) # adds one element at the end

In [325]:
l

[2, 1, 3, 4]

In [326]:
l.sort() # sorts in ascending order

In [327]:
l

[1, 2, 3, 4]

In [328]:
l.sort(reverse=True)

In [329]:
l

[4, 3, 2, 1]

In [330]:
l.reverse()

In [331]:
l

[1, 2, 3, 4]

In [332]:
l.insert(0,100) # inserts element at index

In [333]:
l

[100, 1, 2, 3, 4]

In [334]:
l.remove(100) # removes first occurence of that element

In [335]:
l

[1, 2, 3, 4]

In [336]:
l.pop(0) # removes element of that index

1

In [337]:
l

[2, 3, 4]

In [151]:
# tuples

In [152]:
# A built-in datatype that lets us create immutable sequence of values.

In [153]:
tup=(2,1,3,1)

In [154]:
tup[0]

2

In [155]:
tup[0]=7

TypeError: 'tuple' object does not support item assignment

In [156]:
tup=()

In [157]:
tup

()

In [158]:
type(tup)

tuple

In [159]:
tup=(1,)

In [160]:
tup

(1,)

In [161]:
type(tup)

tuple

In [162]:
tup=(1)

In [163]:
tup

1

In [164]:
type(tup)

int

In [165]:
# tuple slicing

In [166]:
tup=(1,2,3,4)
tup[0:3]

(1, 2, 3)

In [167]:
tup[:]

(1, 2, 3, 4)

In [168]:
tup[0:]

(1, 2, 3, 4)

In [169]:
tup[:4]

(1, 2, 3, 4)

In [170]:
# tuple methods

In [171]:
tup.index(4) # returns index of first occurrence

3

In [172]:
tup.count(1) # counts total occurrences

1

In [173]:
# Wap to ask the user to enter names of their 3 favourite movies & store them in a list.

In [174]:
movies=[]
mov1=input("enter 1st movie: ")
mov2=input("enter 2nd movie: ")
mov3=input("enter 3rd movie: ")
movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

['Titanic', 'Phata poster nikla hero', 'panchayat']

In [175]:
movies=[]
movies.append(input("enter first movie: "))
movies.append(input("enter second movie: "))
movies.append(input("enter third movie: "))
print(movies)

['dhamal', 'dhamal', 'goal']

In [176]:
# Wap to check if a list contains a palindrome of elements

In [177]:
list1=["m","a","a","m"]
copy_list1=list1.copy()
copy_list1.reverse()
if(copy_list1 == list1):
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [340]:
list1=[1,2,3]
copy_list=list1.copy()
copy_list.reverse()
if(copy_list==list1):
    print("palindrome")
else:
    print("not palindrome")

not palindrome

In [179]:
copy_list

[3, 2, 1]

In [180]:
# Wap to count the number of students with the "A" grade in the following tuple: (C,D,A,A,B,B,A)

In [181]:
grade=("C","D","A","A","B","B","A")
grade.count("A")

3

In [182]:
grade.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [183]:
# store the above values in a list and sort them from "A" to "D"

In [184]:
grade=["C","D","A","A","B","B","A"]
grade.sort()

In [185]:
grade

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [186]:
# Dictionary

In [187]:
# Dictionary:Dictionaries are used to store data values in key:value pairs
# they are unordered, mutable, & don't allow duplicate keys.
# unordered means there is no indexing as in lists,strings or tuples.
# dictionaries don't allow duplicate keys,means one 'key' can not be repeated.

In [188]:
info={
       "name":"apnacollege",
       "subjects":["python","html","css","js"],
      "topics":("dictionary","set"),
       12.99:23.44
}

In [189]:
print(info)

{'name': 'apnacollege', 'subjects': ['python', 'html', 'css', 'js'], 'topics': ('dictionary', 'set'), 12.99: 23.44}

In [190]:
print(info["name"])

apnacollege

In [191]:
print(info[12.99])

23.44

In [192]:
info["name"]="Shradha khapra"
print(info)

{'name': 'Shradha khapra', 'subjects': ['python', 'html', 'css', 'js'], 'topics': ('dictionary', 'set'), 12.99: 23.44}

In [193]:
# Nested dictionary

In [194]:
student={
    "name":"shradha",
    "score":{
              "chem":98,
              "phy":97,
              "math":95
    },
       "cgpa":9.33
}

In [195]:
student["score"]["math"]

95

In [196]:
student

{'name': 'shradha', 'score': {'chem': 98, 'phy': 97, 'math': 95}, 'cgpa': 9.33}

In [197]:
# Dictionary methods

In [198]:
student.keys() # returns all keys

dict_keys(['name', 'score', 'cgpa'])

In [199]:
student.values() # returns all values

dict_values(['shradha', {'chem': 98, 'phy': 97, 'math': 95}, 9.33])

In [200]:
student.items() # returns all key-value pairs

dict_items([('name', 'shradha'), ('score', {'chem': 98, 'phy': 97, 'math': 95}), ('cgpa', 9.33)])

In [201]:
student.get("name") # returns the value according to key

'shradha'

In [202]:
student["name"]

'shradha'

In [203]:
new_dict={"city":"bengaluru"}
student.update(new_dict) # inserts specified key-value pair in the dictionary
student

{'name': 'shradha',
 'score': {'chem': 98, 'phy': 97, 'math': 95},
 'cgpa': 9.33,
 'city': 'bengaluru'}

In [204]:
# Set

In [205]:
# Set: Set is the collection of unordered(no indexing) items.

In [206]:
collection={1,2,2,3,"apple"}
collection

{1, 2, 3, 'apple'}

In [207]:
collection=set() # to print empty set
collection

set()

In [208]:
collection=()
collection

()

In [209]:
# Note: set is mutable. But elements inside the set must be immutable. i.e list or dictionary can't be elements of a set.
# tuple, int,flaot,string can be elements of a set.

In [210]:
set={1,2,3,"apple",(1,2),[1,2]}
set

TypeError: unhashable type: 'list'

In [211]:
# Set methods

In [212]:
set={1,2,3,"apple"}

In [213]:
set.add(4) # adds an element

In [214]:
set

{1, 2, 3, 4, 'apple'}

In [215]:
set.remove(4) # removes the element
set

{1, 2, 3, 'apple'}

In [216]:
set.clear() # empties the set
set

set()

In [217]:
set={1,2,3,"apple"}
set

{1, 2, 3, 'apple'}

In [218]:
set.pop() # removes a random value

1

In [219]:
set

{2, 3, 'apple'}

In [220]:
set1={13,14}
set.union(set1) # combines both set values and returns new

{13, 14, 2, 3, 'apple'}

In [221]:
set2={2,"apple"}
set.intersection(set2) # combines common values and returns new.

{2, 'apple'}

In [222]:
set

{2, 3, 'apple'}

In [223]:
set3=(1,7)

In [224]:
set.intersection(set3)

set()

In [225]:
# Store the following word meanings in a python dictionary
# table:"a piece of furniture", "list of facts & figures"
# cat:"a small animal"

In [226]:
dictionary={
            "cat":"a small animal",
            "table":["a piece of furniture", "list of facts & figures"]
}
dictionary

{'cat': 'a small animal',
 'table': ['a piece of furniture', 'list of facts & figures']}

In [227]:
# Wap to enter marks of 3 subjects from the user and store them in a dictionary. Start with an empty dictionary & add one by one
# Use subject name as key & marks as values.

In [228]:
marks={}
x=float(input("Enter marks of physics: "))
marks.update({"physics":x})
y=float(input("Enter marks of chemistry: "))
marks.update({"chemistry":y})
z=float(input("Enter marks of mathematics: "))
marks.update({"mathematics":z})
print(marks)

{'physics': 79.0, 'chemistry': 89.0, 'mathematics': 90.0}

In [229]:
#Figure out a way to store 9 & 9.0 as separate values in a set.

In [230]:
values={9,9.0}
values

{9}

In [231]:
values={9,"9.0"}
values

{9, '9.0'}

## Loops

In [232]:
# Loop: loops are used to repeat instructions

In [233]:
# while loop

In [234]:
# To print 'hello' five times

In [235]:
count=0
while count<5:
    print("hello")
    count=count+1

hello
hello
hello
hello
hello

In [236]:
# print numbers from 1 to 5

In [237]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [238]:
# print numbers from 5 to 1

In [239]:
i=5
while i>=1:
    print(i)
    i=i-1

5
4
3
2
1

In [240]:
# print the multiplication table of a number n.

In [241]:
n=int(input("Enter a number: "))
i=1
while i<=10:
    print(f"{i}x{n}={i*n}")
    i=i+1

1x3=3
2x3=6
3x3=9
4x3=12
5x3=15
6x3=18
7x3=21
8x3=24
9x3=27
10x3=30

In [242]:
# Wap to print the elements of the following list using a loop:
# [1,4,9,16,25,36,49,64,81,100]

In [243]:
i=1
while i<=10:
    print(i*i)
    i=i+1

1
4
9
16
25
36
49
64
81
100

In [244]:
num=[1,4,9,16,25,36,49,64,81,100]
i=0
while i<len(num):
    print(num[i])
    i=i+1

1
4
9
16
25
36
49
64
81
100

In [245]:
# Search for a number x in this tuple using loop.
# (1,4,9,16,25,36,49,64,81,100)

In [246]:
nums=(1,4,9,16,25,36,49,64,81,100)
x=36
i=0
while i<len(nums):
    if(nums[i]==x):
        print("found at index",i)
    else:
        print("finding....")
    i=i+1

finding....
finding....
finding....
finding....
finding....
found at index 5
finding....
finding....
finding....
finding....

In [247]:
nums=(1,4,9,16,25,36,49,64,81,100)
x=36
i=0
while i<len(nums):
    if(nums[i]==x):
        print("found at index",i)
        break
    else:
        print("finding....")
    i=i+1

finding....
finding....
finding....
finding....
finding....
found at index 5

In [248]:
# Break: used to terminate the loop when encountered.
# Continue: Terminates execution in the current iteration & continues execution of the loop with the next iteration.

In [249]:
# Wap to print numbers from 1 to 5, except 3

In [250]:
i=1
while i<=5:
    if(i==3):
        i=i+1
        continue
    print(i)
    i=i+1

1
2
4
5

In [251]:
# For loops

In [252]:
# for loops are used for sequencial traversal. For traversing list,string,tuples etc.

In [253]:
nums=[1,2,3,4,5]
for i in nums:
    print(i)

1
2
3
4
5

In [254]:
str="apnacollege"
for i in str:
    print(i)

a
p
n
a
c
o
l
l
e
g
e

In [255]:
# mainly twotypes of loops:a) while loop: for iteratively upgrading some variable, with some stopping criteria
# b)for loop: for traversing on some datatypes such as list, tuple, string etc, we use for loops.

In [256]:
# there is an optional 'else' in for loop.
# if we want to print something right after the end of the for loop, then we can use 'else'.

In [257]:
# syntax
for el in list:
    # some work
else:
    # works when loop ends

IndentationError: expected an indented block after 'for' statement on line 2 (3901601868.py, line 4)

In [258]:
str="apnacollege"
for i in str:
    if(i=='o'):
        print("o found")
        break
    print(i)
else:
    print("end.")

a
p
n
a
c
o found

In [259]:
# search for a number x in this tuple using for loop: (1,4,9,16,25,36,49,64,81,100)

In [260]:
tuple=(1,4,9,16,25,36,49,64,81,100)
x=49
i=0
for el in tuple:
    if(el==x):
        print("no. found at index",i)
    i=i+1

no. found at index 6

In [261]:
# range() function: range function returns a sequence of numbers, starting from 0 (by default), and increments by 1(by default)
# and stops before a specified number.
# syntax:range(start,stop,step)

In [262]:
for el in range(5):
    print(el)

0
1
2
3
4

In [263]:
for el in range(1,5):
    print(el)

1
2
3
4

In [264]:
for el in range(1,5,2):
    print(el)

1
3

In [265]:
# To print even numbers from 2 to 10

In [266]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [267]:
# To print odd numbers from 1 to 9

In [268]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [269]:
# print numbers from 10 to 1

In [270]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [271]:
# print the multiplication table of a number n

In [272]:
n=int(input("enter number: "))
for i in range(1,11):
    print(f"{n}x{i}={n*i}")

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [1]:
# pass statement: pass is a null statement that does nothing. It is used as a placeholder for further code.Used when you want a loop or block that youâ€™ll fill later.

In [274]:
for i in range(5):
    pass
print("some work")

some work

In [275]:
if i<5:
    pass
print("some work")

some work

In [2]:
for i in range(1, 6):
    if i == 3:
        pass
    print("Number:", i)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

Real-Life Example of pass
Scenario: Planning a feature for later

You're designing a mobile app, and you know you will add the notifications feature, but you haven't written the code yet.
So you leave a placeholder.

In [3]:
features = ["login", "profile", "notifications", "payments"]

for f in features:
    if f == "notifications":
        pass  # You will implement it later
    print("Feature ready:", f)

Feature ready: login
Feature ready: profile
Feature ready: notifications
Feature ready: payments

continue Statement


Used to skip the current iteration and move to the next one.


Example: Skip printing the number 5

In [1]:
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

Real-Life Example of continue


Scenario: Ignore damaged items while processing orders


Suppose you process an order list but skip the ones labeled "damaged".

In [2]:
orders = ["order1", "damaged", "order2", "order3", "damaged", "order4"]

for order in orders:
    if order == "damaged":
        print("Skipping damaged item.")
        continue
    print("Processing:", order)

Processing: order1
Skipping damaged item.
Processing: order2
Processing: order3
Skipping damaged item.
Processing: order4

break Statement


Used to exit the loop completely.


Example: Stop when number becomes 5

In [3]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

Real-Life Example of break


Scenario: Stopping when you find the item you are searching for


Imagine you are searching for your ID card in a list of items.
Once you find it, you stop searching.

In [4]:
items = ["keys", "wallet", "pen", "ID card", "notebook"]

for item in items:
    if item == "ID card":
        print("Found ID card! Stopping search.")
        break
    print("Checking:", item)

Checking: keys
Checking: wallet
Checking: pen
Found ID card! Stopping search.

In [276]:
# Wap to find the sum of first n numbers.

In [277]:
n=int(input("enter any natural number: "))
sum=0
for i in range(1,n+1):
    sum=sum+i
print("Total sum=",sum)

Total sum= 28

In [278]:
# wap to find factorial of n numbers

In [279]:
n=int(input("enter no."))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

362880

In [280]:
n=int(input("enter no."))
fact=1
i=1
while i<=n:
    fact=fact*i
    i=i+1
print(fact)

2

In [281]:
# Functions in python

In [282]:
# Functions: Block of statements that performs a specific task.

In [283]:
# function definition:
# def func_name(parameter1,parameter2):
                    # some work
                    # return value
# function call:
# func_name(argument1,argument2)

In [284]:
# print sum of two numbers
def sum(a,b):
    s=a+b
    return s
print(sum(7,8))

15

In [285]:
# average of three numbers
def calc_avg(a,b,c):
    sum=a+b+c
    avg=sum/3
    return avg
calc_avg(2,3,9)

4.666666666666667

In [286]:
def print_hello():
    print("hello")
print_hello()

hello

In [287]:
def cal_prod(a=2,b=2):
    print(a*b)
cal_prod()

4

In [288]:
# Waf to print the length of a list.
# cities=["delhi","gurgaon","bengaluru","durgapur"]
# heroes=["thor","ironman","captain america","shaktiman"]

In [289]:
cities=["delhi","gurgaon","bengaluru","durgapur"]
heroes=["thor","ironman","captain america"]
def print_len(list):
    return len(list)
print(len(cities))
print(len(heroes))

4
3

In [290]:
def print_hello():
    print("hello")
output=print_hello()
print(output)

hello
None

In [291]:
def print_hello():
    s=print("hello")
    return s
output=print_hello()
print(output)

hello
None

In [292]:
# Waf to print the elements of a list in a single line.(list is the parameter)
heroes=["thor","ironman","captain America",'shaktiman']
print(heroes[0],end=' ')
print(heroes[1],end=' ')
print(heroes[2],end=' ')
print(heroes[3],end=' ')

thor ironman captain America shaktiman

In [293]:
def print_list(list):
    for i in list:
        print(i,end=' ')
print_list(heroes)

thor ironman captain America shaktiman

In [294]:
# Waf to find the factorial of n.(n is the parameter)

In [295]:
n=5
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

120

In [296]:
def calc_fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)
calc_fact(4)

24

In [297]:
# Waf to convert USD to INR

In [298]:
def converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val,"USD=",inr_val,"INR")
converter(2)

2 USD= 166 INR

In [299]:
# to print whether a number is even or odd.
def even_odd(n):
    if(n%2==0):
        print("even")
    else:
        print("odd")
even_odd(4)

even

In [300]:
# recursion

In [301]:
def show(n):
    print(n)
show(5)

5

In [302]:
# def show(n):
#     print(n)
#     show(n-1)
# show(5)

In [303]:
def show(n):
    if(n==0): # this is called base case
        return # returns none
    print(n)
    show(n-1)
show(5)

5
4
3
2
1

In [304]:
def show(n):
    if(n==0): # this is called base case
        return # returns none
    print(n)
    show(n-1)
    print("end")
show(5)

5
4
3
2
1
end
end
end
end
end

In [305]:
# factorial n

In [306]:
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [307]:
# write a recursive function to calculate the sum of first n natural numbers

In [308]:
def calc_sum(n):
    if(n==0):
        return 0 
    return calc_sum(n-1) + n
calc_sum(3)

6

In [309]:
# write a recursive function to print all elements in a list.

In [310]:
def print_list(list,idx=0):
    if(idx==len(list)):
        return
    print(list[idx])
    print_list(list,idx+1)
fruits=["mango","litchi","apple","banana"]
print_list(fruits)

mango
litchi
apple
banana

In [311]:
# map function
def cube(x):
    return x*x*x
l=[1,2,3,4]
newl=[]
for i in l:
    newl.append(cube(i))
print(newl)

[1, 8, 27, 64]

In [1]:
def cube(x):
    return x*x*x
l=[1,2,3,4]
newl= list(map(cube,l))
print(newl)

[1, 8, 27, 64]

In [2]:
# map using lambda function
l=[1,3,4,5,6,7]
newl=list(map(lambda x: x*x*x, l))
print(newl)

[1, 27, 64, 125, 216, 343]

In [3]:
# filter function
l=[1,2,4,6,4,3]
def filter_function(a):
    return a>2
newl=list(filter(filter_function,l))
print(newl)

[4, 6, 4, 3]

In [4]:
# reduce function
from functools import reduce
numbers =[1,2,3,4,5]
def mysum(x,y):
    return x+y
sum=reduce(mysum,numbers)
print(sum)

15

In [5]:
numbers=input("Enter the numbers: ").split()

In [6]:
numbers

['2']

In [8]:
n=int(input("Enter the number of elements: "))
for i in range(0,n):
    numbers[i] = int(numbers[i])
numbers

IndexError: list index out of range

In [9]:
n=int(input("Enter the number of elements: "))
number=list(map(int, numbers))
number

[2]

### Object Oriented Programming

In [1]:
# creating class
class Student:
    name = "Soumyajyoti"
# creating object(instance)
s1 = Student()
print(s1)

<__main__.Student object at 0x000001B5C57DFCB0>

In [ ]:
# creating class
class Student:
    name = "Soumyajyoti"
# creating object(instance)
s1 = Student()
print(s1.name)

Soumyajyoti

In [3]:
# creating class
class Student:
    name = "Soumyajyoti"
# creating object(instance)
s1 = Student()
print(s1.name)

s2 = Student()
print(s2.name)

Soumyajyoti
Soumyajyoti

In [5]:
class Car:
    colour = "red"
    brand = "BMW"
c1 = Car()
print(c1.colour)
print(c1.brand)

red
BMW

In [1]:
class Car:
    def __init__(self,colour,brand,model):
        self.colour = colour
        self.brand = brand
        self.model = model
c1 = Car("red","BMW","X5")
print(c1.colour)
print(c1.brand)
print(c1.model)
c2 = Car("blue","Audi","Q7")
print(c2.colour)    
print(c2.brand)
print(c2.model)

red
BMW
X5
blue
Audi
Q7

In [6]:
# syntax to create an object
# objectname = classname()
L =list()
L

[]

In [ ]:
class Atm:
    # constructor(special function)-> superpower->after creating an object of the class, this function will be called automatically
    def __init__(self):
        self.pin=''
        self.balance=0
        self.menu()
    def menu(self):
        user_input = input("""
              Hi, how can I help you?
              1. Press 1 to create pin
              2. Press 2 to change pin
              3. Press 3 to check balance
              4. Press 4 to withdraw cash
              5. Anything else to exit
              """)
        if user_input == '1':
            # create pin
            self.create_pin()
        elif user_input == '2':
            # change pin
            self.change_pin()
        elif user_input == '3':
            # check balance
            self.check_balance()
        elif user_input == '4':
            # withdraw cash
            self.withdraw_cash()
        else:
            print("Thank you for using our services.")
            exit()
    def create_pin(self):
        user_pin = input("enter your pin: ")
        self.pin = user_pin
        user_balance = int(input('enter balance:'))
        self.balance = user_balance

        print("Pin created successfully")
        self.menu()

    
    def change_pin(self):
        old_pin = input("enter old pin: ")
        if old_pin == self.pin:
            new_pin = input("enter new pin: ")
            self.pin = new_pin
            print("Pin changed successfully")
            self.menu()
        else:
            print("Incorrect pin")
            self.menu()

    def check_balance(self):
        user_pin = input("enter your pin: ")
        if user_pin == self.pin:
            print("Your balance is: ", self.balance)
            self.menu()
        else:
            print("Incorrect pin")
            self.menu()

    def withdraw_cash(self):
        user_pin = input("enter your pin: ")
        if user_pin == self.pin:
            amount = int(input("enter amount to withdraw: "))
            if amount <= self.balance:
                self.balance = self.balance-amount
                print("Please collect your cash")
                print("Your new balance is: ", self.balance)
                self.menu()
            else:
                print("Insufficient balance")
                self.menu()
        else:
            print("Incorrect pin")
            self.menu()

In [ ]:
sbi = Atm()
sbi.menu()

pin created successfully
abe garib

: